.container {
  height: 630px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  overflow-y: auto;
}

.goods {
  height: 300px;
  background-color: aqua;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
